/*
Error: File to import not found or unreadable: partials/boostrap-accordion.
       Load paths:
         Compass::SpriteImporter
         /Users/liza/code/hackathon2020/_sass
         /usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets
        on line 15 of /Users/liza/code/hackathon2020/_sass/./main.scss

10: @import "partials/global";
11: @import "partials/buttons";
12: @import "partials/helper";
13: @import "partials/sprites";
14: @import "partials/navigation";
15: @import "partials/boostrap-accordion";
16: 
17: // Sections
18: @import "partials/hero";
19: @import "partials/top-section";
20: @import "partials/about";

Backtrace:
/Users/liza/code/hackathon2020/_sass/./main.scss:15
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:44:in `import'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-media_query_combiner-0.0.7/lib/sass-media_query_combiner.rb:7:in `render_with_combine'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/usr/local/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/usr/local/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/liza/code/hackathon2020/_plugins/generator_scss.rb:23:in `block in generate'
/Users/liza/code/hackathon2020/_plugins/generator_scss.rb:22:in `chdir'
/Users/liza/code/hackathon2020/_plugins/generator_scss.rb:22:in `generate'
/usr/local/lib/ruby/gems/2.6.0/gems/jekyll-3.8.5/lib/jekyll/site.rb:175:in `block in generate'
/usr/local/lib/ruby/gems/2.6.0/gems/jekyll-3.8.5/lib/jekyll/site.rb:173:in `each'
/usr/local/lib/ruby/gems/2.6.0/gems/jekyll-3.8.5/lib/jekyll/site.rb:173:in `generate'
/usr/local/lib/ruby/gems/2.6.0/gems/jekyll-3.8.5/lib/jekyll/site.rb:70:in `process'
/usr/local/lib/ruby/gems/2.6.0/gems/jekyll-watch-2.2.1/lib/jekyll/watcher.rb:128:in `process'
/usr/local/lib/ruby/gems/2.6.0/gems/jekyll-watch-2.2.1/lib/jekyll/watcher.rb:64:in `block in listen_handler'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/config.rb:23:in `call'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/processor.rb:115:in `_process_changes'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/processor.rb:19:in `block in loop_for'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/processor.rb:15:in `loop'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/processor.rb:15:in `loop_for'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/event/loop.rb:42:in `block in setup'
/usr/local/lib/ruby/gems/2.6.0/gems/listen-3.2.1/lib/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: partials/boostrap-accordion.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/liza/code/hackathon2020/_sass\A          /usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets\A         on line 15 of /Users/liza/code/hackathon2020/_sass/./main.scss\A \A 10: @import \"partials/global\";\A 11: @import \"partials/buttons\";\A 12: @import \"partials/helper\";\A 13: @import \"partials/sprites\";\A 14: @import \"partials/navigation\";\A 15: @import \"partials/boostrap-accordion\";\A 16: \A 17: // Sections\A 18: @import \"partials/hero\";\A 19: @import \"partials/top-section\";\A 20: @import \"partials/about\";"; }
