<!-- Contact Section -->
<section id="contact" class="contact">

    <div class="content-wrapper">
        <div class="col-lg-4 col-lg-offset-4 contact-col">

          <p>We invite you to contact us using any of the methods below.</p>

          <ul>

            <li>
              <a href="mailto:ossig2019@inria.fr" target="_blank">
              <svg class="icon icon-email" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-email"></use>
              </svg>
            Send us an email</a>
            </li>

            <li>
            <a href="https://twitter.com/OhbmOpen" target="_blank">
              <svg class="icon icon-twitter" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
              </svg>
            Contact us on Twitter</a>
            </li>

            <li>
            <a href="https://github.com/ohbm/hackathon2020" target="_blank">
              <svg class="icon icon-github" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-github"></use>
              </svg>
            Open an issue on GitHub</a>
            </li>

            <li>
            <a href="https://mattermost.brainhack.org/brainhack/channels/hbm-hackathon" target="_blank">
            Join the OHBM hackathon channel on our mattermost discussion forum </a>
            </li>




            </ul>

        </div>
    </div>

</section>
<!-- End Contact Section -->
