<!-- Contact Section -->
<section id="contact" class="contact">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">

          <p> We invite you to contact us using any of the methods below. </p>

          <a href="hbm.hackathon@gmail.com" target="_blank">
            <svg viewBox="0 0 200 200">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-email"></use>
            </svg>
          Send us an email</a>

          <ul>

            <li>
            <a href="hbm.hackathon@gmail.com" target="_blank">
              <svg class="icon icon-email" viewBox="0 0 10 10">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-email"></use>
              </svg>
            Send us an email</a>
            </li>

            <li>
            <a href="https://twitter.com/OhbmOpen" target="_blank">
              <svg class="icon icon-twitter" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
              </svg>
            Contact us on Twitter</a>
            </li>

            <li>
            <a href="https://github.com/ohbm/osr2020" target="_blank">
              <svg class="icon icon-github" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-github"></use>
              </svg>
            Open en issue on GitHub</a>
            </li>

          <!-- <img align="left" src="../img/icon-email.png" alt="email" width="3.5%">&nbsp;Email: <hbm.hackathon@gmail.com>

          <img align="left" src="../img/icon-twitter.png" alt="twitter" width="3.5%">&nbsp;Twitter: <a href="https://twitter.com/OhbmOpen">@OhbmOpen</a> #OHBM2020 #OHBMHackathon

          <img align="left" src="../img/icon-github.png" alt="github" width="3.5%">&nbsp;GitHub: <a href="https://github.com/ohbm/osr2020">@ohbm</a>

          <img align="left" src="../img/icon-mattermost.png" alt="mattermost" width="3.5%">&nbsp;Mattermost: <a href="https://mattermost.brainhack.org/brainhack/channels/hbm-open-science-room">hbm-open-science-room</a> -->
          </ul>


          <p> During the meeting you will be able to identify members of the OSR team at named locations in the virtual environment. We are working towards supporting both text and one-to-one video chat between attendees and the OSR team. We will provide more details on this as they emerge!  </p>


        </div>
    </div>
</section>
<!-- End Contact Section -->
