<!-- Contact Section -->
<section id="contact" class="contact">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">

          <p> We invite you to contact us using any of the methods below. </p>


            <a href="mailto:hbm.hackathon@gmail.com" target="_blank">
              <svg class="icon icon-email" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-email"></use>
              </svg>
            Send us an email</a>
            <br>

            <a href="https://twitter.com/OhbmOpen" target="_blank">
              <svg class="icon icon-twitter" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
              </svg>
            Contact us on Twitter</a>
            <br>

            <a href="https://github.com/ohbm/hackathon2020" target="_blank">
              <svg class="icon icon-github" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-github"></use>
              </svg>
            Open an issue on GitHub</a>
            <br>

        </div>
    </div>
</section>
<!-- End Contact Section -->
