<!-- Begin FAQ Section -->
<section id="faq" class="faq">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">

            <!-- Begin table of content -->
            <div class="container faq-TOC">

              {% for section in site.data.faq %}
                <div class="row">
                  <h4> {{ section.group }} </h4>
                  <ul>
                    {% for question in section.questions %}
                      <li>
                        <a href="#{{ section.group }} {{ forloop.index }}">{{ question.question }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}

            </div>
            <!-- End table of content -->


            {% for section in site.data.faq %}
            <!-- Begin FAQ sub-section -->
              <div class="container faq-subsection">
                <div class="row">
                  <div class="col-md col-sm">
                      <h4>{{ section.group }}</h4>
                  </div>
                </div>
              </div>

              <div class="container faq-question">

              {% for question in section.questions %}
                <div class="row">
                  <div class="col-md">

                        <h5 id="{{ section.group }} {{ forloop.index }}">{{ question.question }}</h5>

                        <p> {{ question.answer }} </p>

                  </div>
                </div>
              {% endfor %}

              <!-- <div class="accordion" id="accordionExample">

                {% for question in section.questions %}
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header" id="heading{{forloop.length}}">
                      <h5 class="mb-50">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{forloop.length}}" aria-expanded="true" aria-controls="collapse{{forloop.length}}">
                          {{ question.question }}
                        </button>
                      </h5>
                    </div>

                    <div id="collapse{{forloop.length}}" class="collapse show" aria-labelledby="heading{{forloop.length}}" data-parent="#accordionExample">
                      <div class="card-body">
                        {{ question.answer }}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div> -->

              </div>
            <!-- End FAQ sub-section -->
            {% endfor %}

        </div>

    </div>
</section>
<!-- End FAQ Section -->
