<!-- Begin FAQ Section -->
<section id="faq" class="faq">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">

            <!-- Begin table of content -->
            <div class="container faq-TOC">

              {% for section in site.data.faq %}
                <div class="row">
                  <h4> {{ section.group }} </h4>
                  <ul>
                    {% for question in section.questions %}
                      <li>
                        <a href="#{{ section.group }} {{ forloop.index }}">{{ question.question }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}

            </div>
            <!-- End table of content -->


            {% for section in site.data.faq %}
            <!-- Begin FAQ sub-section -->
              <div class="container faq-subsection">
                <div class="row">
                  <div class="col-md col-sm">
                      <h4>{{ section.group }}</h4>
                  </div>
                </div>
              </div>

              <div class="container faq-question">

              {% for question in section.questions %}
                <div class="row">
                  <div class="col-md">

                        <h5 id="{{ section.group }} {{ forloop.index }}">{{ question.question }}</h5>

                        <p> {{ question.answer }} </p>

                  </div>
                </div>
              {% endfor %}

              </div>
            <!-- End FAQ sub-section -->
            {% endfor %}

        </div>

    </div>
</section>
<!-- End FAQ Section -->
