<!-- About Section -->
<section id="logistics" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Logistics</h3>
						<div style="font-size:24px;text-align:left;">

<!-- <div style="font-size:16px;float:right;width:338px;"><img src="/2018/img/brainhack_venn.gif" alt="brainhack venn diagram"><br><b>Brainhack as a venn diagram, from <a href="https://gigascience.biomedcentral.com/articles/10.1186/s13742-016-0121-x">Craddock et al (2016)</a></b></div> -->
The event will be held at the Department of Neuroscience and Biomedical Engineering. Details will be sent to participants upon acceptance.
			<br style="clear:both;"> 
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
