<!-- Begin Logistics section -->
<section id="logistics" class="logistics">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1" style="text-align: center;">

            {% for section in site.data.logistics%}

            <h4>{{ section.group }}</h5>
                
            <div class="list-inline" style="text-align: left">

                {% for question in section.questions %}

                <h6>{{ question.question }}</h6>

                <p> {{ question.answer }} </p>

                {% endfor %}

            </ul>
            <br></br>
            {% endfor %}

        </div>

    </div>
</section>
<!-- End Logistics Section -->
