<section id="traintracks" class="traintracks">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row text-left appear-animation-trigger">
                {% assign traintrack_essions = site.data.sessions | where: "type", "traintrack" %}
                {% for session in traintrack_essions %}
                <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
                    <div class="lily-effect ribbon-activator" data-toggle="modal" data-target="#sessionDetail-{{ session.id }}">
                        <div class="lily-head">
                            <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: session.thumbnailUrl }})">
                                <!-- <figcaption>
                                    <h2 class="name">{{ session.title }}</h2>
                                </figcaption> -->
                            </figure>
                        </div>
                        <div class="lily-bottom">
                            {% for session_speaker in session.speakers %}
                                {% assign speaker = site.data.speakers[session_speaker] %}
                                <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
