.accordion { margin: 0 0 1rem; }

.ml-collapse-card {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);

  .card-header {
    background: 0 0;
    border-bottom: 0;
    padding-left: 0;

    button {
      display: flex;
      align-items: center;
      color: $primary-color;
      text-align: left;
      width: 100%;
      padding-left: 0;
      text-transform: none;
      white-space: normal;
      font-size: inherit;
      font-weight: inherit;
    }

    button .collapse-title {
      display: inline-block;
    }

    button .plus-minus-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 1.5rem;
    }

    button .plus-minus {
      // original @ https://jsfiddle.net/psullivan6/0eL3jezk/
      position: relative;
      width: 1rem;
      height: 1rem;

      &:before,
      &:after{
          content: "";
          position: absolute;
          background-color: $icon-fill-color;
          transition: transform 0.25s ease-out;
      }
    }
    // When open, minus sign to close
    button .plus-minus {
      /* Vertical line */
      &:before{
          top: 50%;
          left: 0;
          width: 100%;
          height: 4px;
          margin-top: -2px;
      }

      /* horizontal line */
      &:after{
          top: 50%;
          left: 0;
          width: 100%;
          height: 4px;
          margin-top: -2px;
      }
    }

    // When closed, plus sign to open
    button.collapsed .plus-minus {
      &:before{ transform: rotate(90deg); }
      &:after{ transform: rotate(180deg); }
    }
  }

  .card-body {
    padding: 0;
    > p {
      margin-top: 0; // TODO could also try margin-collapsing
    }
  }
}