.team {
	h3 {
	    margin-bottom: 26px;
	}
	h4 {
	    margin: 50px 0 20px;
	    text-align: center;
	}
	.content-wrapper {
			font-size: 18px;
			line-height: 200%;
			.text-justify {
				font-size: 18px;
				line-height: 200%;
			}
			ol {
				text-align: left;
				margin-left: 50px;
			}
	}
}
